# Backups
*~
*.bak
# Direct executables
bares
bares.cpc
bares.tap
bares.reloc

# Other
*.def
*.bat

# Executable files
*.tap
*.dsk

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
